$color-dark-grey: #2C2F33;
$color-black-grey: #23272A;
$color-blurple: #7289DA;


//TODO properly map SCSS variables
/*
$white: #fefefe;
$red: #f04747;
$yellow: #faa61a;
$green: #43b581;
$dark: #202225;

$secondary: #292b2f;

$body-color: #dcddde;
$body-bg: #36393f;
$secondary-bg: #2f3136;

$input-color: #b9bbbe;

$progress-bg: #2f3136;
*/
